<properties>
    <property name="jakarta.persistence.jdbc.url" value="jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE" />
    <property name="jakarta.persistence.jdbc.driver" value="org.h2.Driver" />
    <property name="jakarta.persistence.jdbc.user" value="sa" />
    <property name="jakarta.persistence.jdbc.password" value="" />
    <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect" />
</properties>